@page "/calculator"
@using Assignment2.Data

<h3>Calculator</h3>

<div>
	Enter first number <input placeholder="Enter First Number" @bind="firstNum" />
</div>

<div>
	Enter second number <input placeholder="Enter Second Number" @bind="secondNum" />
</div>

<div>
	Result <input disabled="true" @bind="result" />
</div>

<div>
	<button class="btn-outline-success rounded" @onclick=" () => Add(firstNum, secondNum)">Add (+)</button> <button class="btn-outline-primary rounded" @onclick=" () => Subtract(firstNum, secondNum)">Subtract (-)</button> <button class="btn-outline-info rounded" @onclick=" () => Multiply(firstNum, secondNum)">Multiply (X)</button> <button class="btn-outline-secondary rounded" @onclick=" () => ClearAll()">Clear All</button>
</div>

@code {
	private string firstNum;
	private string secondNum;
	private string result;

	private double CheckValid(string num)
	{
		double d;
		if (!Double.TryParse(num, out d))
		{
			throw new NonNumericInputException();
		}
		return d;
	}

	private void Add(string firstNum, string secondNum)
	{
		try
		{
			double numOne = CheckValid(firstNum);
			double numTwo = CheckValid(secondNum);
			result = Convert.ToString((numOne + numTwo));
		}
		catch (NonNumericInputException ex)
		{
			App.Current.MainPage.DisplayAlert("Error", ex.Message, "Ok");
		}
	}

	private void Subtract(string firstNum, string secondNum)
	{
		try
		{
			double numOne = CheckValid(firstNum);
			double numTwo = CheckValid(secondNum);
			result = Convert.ToString((numOne - numTwo));
		}
		catch (NonNumericInputException ex)
		{
			App.Current.MainPage.DisplayAlert("Error", ex.Message, "Ok");
		}
	}

	private void Multiply(string firstNum, string secondNum)
	{
		try
		{
			double numOne = CheckValid(firstNum);
			double numTwo = CheckValid(secondNum);
			result = Convert.ToString((numOne * numTwo));
		}
		catch (NonNumericInputException ex)
		{
			App.Current.MainPage.DisplayAlert("Error", ex.Message, "Ok");
		}
	}
	/*
	private void Divide(string firstNum, string secondNum)
		{
		bool valid = true;
		double numOne;
			double numTwo;
			try
			{
			numOne = CheckValid(firstNum);
			numTwo = CheckValid(secondNum);
		}
		catch (NonNumericInputException ex)
			{
			App.Current.MainPage.DisplayAlert("Error", ex.Message, "Ok");
			valid = false;
		}
			finally
				{
				try
				{
				result = Convert.ToString((numOne / numTwo));
			}
			catch (DivideByZeroException)
				{
				App.Current.MainPage.DisplayAlert("Error", "Error: Cannot divide by zero.", "Ok");
		}
		}
	}
	*/
	private void ClearAll()
	{
		firstNum = string.Empty;
		secondNum = string.Empty;
		result = string.Empty;
	}
}
